@import '@/styles/theme.less';

.fixed, .scenePlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fixed {
  padding: @page-padding;
  pointer-events: none;
  transition: opacity ease-in-out 1.2s;
}

.fixed.hidden {
  opacity: 0;
}

.scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 50vh @page-padding @page-padding @page-padding;
  pointer-events: none;
  transition: all ease-in-out 1.2s;

  * {
    pointer-events: all;
  }
}

.scrollable.hidden {
  padding-top: 75vh;
  opacity: 0;
}
