@import '@/styles/theme.less';

.fixed,
.scenePlay,
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fixed {
  padding: @page-padding;
  pointer-events: none;
  transition: opacity ease-in-out 1.2s;
}

.fixed.hidden {
  opacity: 0;
}

.scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 50vh @page-padding @page-padding @page-padding;
  pointer-events: none;
  transition: all ease-in-out 1.2s;

  * {
    pointer-events: all;
  }
}

.scrollable.hidden {
  padding-top: 75vh;
  opacity: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: @body-background;
  animation: twinkle 1s infinite alternate-reverse;
}

.overlay.hidden {
  display: none;
}

@keyframes twinkle {
  from {
    color: rgba(@foreground-color, 1);
  }

  to {
    color: rgba(@foreground-color, 0.2);
  }
}
